@media screen and (max-width: 1024px) {
	.single_project_details_info h2, .related_works_title h2 {
		font-size: 25px;
	}

	.single_project_detail_wrapper {
		display: block;
	}

	.single_project_details_info, .single_project_details_img {
		width: 100%;
  	}

  	.single_project_details_role {
		margin-bottom: 10px;
	}

	.single_project_details_img {
		margin-top: 20px;
  	}

  	.related_works_container {
		margin-top: 50px;
		width: 95%;
	}

  	.related_works_title {
		width: 90%;
	}
}

@media screen and (max-width: 767px) {
  	.single_project-order {
		width: 90%;
	}
}

@media screen and (max-width: 479px) {
	.related_works_container_img img {
		width: 80%;
		margin-top: 10px;
  	}

  	.related_works_container_img {
		display: block;
		margin-top: 0;
	}

	.share_icon i {
		display: block;
		width: 100%;
	}

	.single_project_detail_wrapper {
		width: 90%;
	}
	
  	.single_project_details_info h2, .related_works_title h2 {
		font-size: 22px;
	}

	.single_project-order {
		display: block;
  	}

	.single_project-order div {
		margin-top: 20px;
  	}
}
