@media screen and (max-width: 1024px) {
	.contact_office_info_wrapper {
		display: block;
		width: 70%;
		margin: 40px auto;
  }

  .contact_office_details, .single_post_form {
		width: 100%;
	}

	.contact_office_details {
		margin-bottom: 40px;
	}

	.office_info_title:after {
		left: 50%;
		transform: translateX(-50%);
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 479px) {
	.contact_office_info_wrapper {
		width: 90%;
  }

  .about_the_team_members img {
		width: 100%;
	}

	.about_the_team_item {
		padding-bottom: 0;
  	}

  .our_values_about h2 {
		margin-bottom: 10px;
	}
}
