@media screen and (max-width: 1024px) {
	h2 {
		font-size: 18px;
	}
	
	.header_lian_agency_wrapper-about {
		width: 50%;
  }

  .about_our_story_img {
	  display: none;
  }

  .about_our_story_info {
	  width: 100%;
  }

  .about_the_team_members {
		width: 90%;
		margin-top: 40px;
	}

	.about_our_story_wrapper {
		margin-bottom: 40px;
		width: 85%;
  }

  .team_member_about {
		padding: 10px;
	}
}

@media screen and (max-width: 768px) {
	.about_the_team_title {
		width: 80%;
  }

  .about_the_team_title h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 479px) {

	h1 {
		font-size: 16px;
	}

	.header_lian_agency_wrapper-about h2 {
		font-size: 12px;
  }

	.header_lian_agency_wrapper-about {
		margin: 30px;
  }

  .header_lian_agency_wrapper-about {
		width: 60%;
	}

	.about_the_team_members {
		display: block;
  }

  .about_the_team_item {
		width: 70%;
		margin: 0 auto 30px;
	}

	.team_member_about p {
		font-size: 12px;
  }

  .about_the_team_item {
		width: 90%;
	}

	.about_the_team_members img {
		width: 65%;
		margin: 0 auto;
		margin-top: 20px;
  }
}
